<form [formGroup]="form" (ngSubmit)="submit()" class="main-form">
  <div>
    <input type="text" placeholder="სახელი" formControlName="firstName">
    <div  *ngIf="form.get('firstName')?.invalid &&  form.get('firstName')?.touched">
      სახელის ველი უნდა იყოს შევსებული
    </div>
  </div>
  <div>
    <input type="text" placeholder="გვარი" formControlName="lastName">
    <div  *ngIf="form.get('lastName')?.invalid &&  form.get('lastName')?.touched">
      გვარის ველი უნდა იყოს შევსებული
    </div>
  </div>
<!--contact info-->
  <h2>საკონტაქტო ინფორმაცია: </h2>
  <div formGroupName="userContactInfo">
    <div>
      <input type="text" placeholder="მეილი" formControlName="email">
      <div  *ngIf="form.get('userContactInfo.email')?.getError('required') &&  form.get('userContactInfo.email')?.touched">
        მეილის ველი უნდა იყოს შევსებული
      </div>
      <div  *ngIf="form.get('userContactInfo.email')?.getError('pattern') &&  form.get('userContactInfo.email')?.touched">
        უნდა მთავრდებოდეს @gmail.com-ით {{form.get('userContactInfo.email')?.value }}
      </div>
    </div>
    <div>
      <input type="text" placeholder="ტელეფონის ნომერი" formControlName="phone">
      <div  *ngIf="form.get('userContactInfo.phone')?.getError('required') &&  form.get('userContactInfo.email')?.touched">
        ტელეფონის ნომერი უნდა იყოს შევსებული
      </div>
      <div  *ngIf="form.get('userContactInfo.phone')?.getError('pattern') &&  form.get('userContactInfo.email')?.touched">
        ტელეფონის ნომერი უნდა აკმაყოფილებდეს ქართული მობ-ნომრის ფორმატს +995 123 45 67 89 ან +995123456789
      </div>
    </div>
  </div>
<!-- resources-->
  <h2>რესურსები: </h2>
  <div formGroupName="resources">
    <div>
      <input type="text" placeholder="github url" formControlName="github">
      <div  *ngIf="form.get('userContactInfo.github')?.getError('pattern') &&  form.get('userContactInfo.github')?.touched">
        მითითებულილი ველი არასწორადაა შეყვანილი
      </div>
    </div>
    <div>
      <input type="text" placeholder="linkedin url" formControlName="linkedin">
      <div  *ngIf="form.get('userContactInfo.linkedin')?.getError('pattern') &&  form.get('userContactInfo.linkedin')?.touched">
        მითითებულილი ველი არასწორადაა შეყვანილი
      </div>
    </div>
  <div>
    <button type="submit" [disabled]="form.invalid">submit</button>
  </div>
  </div>
<!--  job experience-->
  <h2>სამუშაო გამოცდილება: </h2>
  <button type="button" (click)="addExp()">გამოცდილების დამატება</button>
  <div formArrayName="experience">
    <ng-container *ngFor="let control of expFormArray.controls let i = index">
      <div [formGroupName]="i">
        <div>
          <input type="text" placeholder="კომპანია" formControlName="company" required>
          <div  *ngIf="control.get('company')?.getError('required') &&  control.get('company')?.touched">
            company is required
          </div>
        </div>
        <div>
          <input type="text" placeholder="წლები" formControlName="years" required>
          <div  *ngIf="control.get('years')?.getError('required') &&  control.get('years')?.touched">
            years is required
          </div>
        </div>
        <button type="button" (click)="removeExp(i)">remove experience</button>
      </div>
    </ng-container>
  </div>

<!--education -->
  <h2>განათლება: </h2>
  <button type="button" (click)="addEdu()">განათლების დამატება</button>
  <div formArrayName="education">
    <ng-container *ngFor="let eachEdu of eduFormArray.controls let i = index">
      <div [formGroupName]="i">
        <div>
          <input type="text" placeholder="დაწესებულება" formControlName="place" required>
          <div  *ngIf="eachEdu.get('company')?.getError('required') &&  eachEdu.get('company')?.touched">
            place is required
          </div>
        </div>
        <div>
          <input type="text" placeholder="დან" formControlName="yearsFrom" required>
          <div  *ngIf="eachEdu.get('years')?.getError('required') &&  eachEdu.get('years')?.touched">
            years is required
          </div>
          -
          <input type="text" placeholder="მდე" formControlName="yearsTill" required>
          <div  *ngIf="eachEdu.get('years')?.getError('required') &&  eachEdu.get('years')?.touched">
            years is required
          </div>
        </div>
        <button type="button" (click)="removeEdu(i)">remove experience</button>
      </div>
    </ng-container>
  </div>

</form>



<pre>
  valid: {{ form.valid|json}}
</pre>
<pre>
  {{ form.value|json}}
</pre>

